*{
    margin: 0;
    padding: 0;
}
.main{
    background-color: rgb(252,93,53);
    color: white;
    padding: 10px;
    border: none;
}
.sec{
    font-size: 16px;
}
.line{
    margin: 10px;
    font-size: 18px;
    font-weight: 400px;
    Line-height: 24px;
    color: rgb(52, 52, 52);
}
.search{
    width: 25px;
}

.img{
    text-align: center;
}
.section2{
    width: 50%;
    margin-left: 15px;
}
.more{
    background-color: black;
    color: aliceblue;
    font-size: 18px;
    border-color: black;
}
.cart{
    border-color: rgb(255,193,7);
    border: none;
}
.hi{
    display: flex;
    justify-content: center;
    align-items: center;
    
   
    
}
.carousel-control-next, .carousel-control-prev{
    width: 10%;
    
    
}
.keychain{
    width: 30%;
    /* gap: 10px; */
    margin-left: 10px;
    
}
.hardy{
    font-size: 20px;
}
.key{

    width: 80%;
    margin-left: 10px;
    /* overflow: hidden; */
}
#womens{
    display: grid;
    grid-template-columns: repeat(4,345px);
}
#electronics{
    display: grid;
    grid-template-columns: repeat(4,345px);
}
.view-section{
    padding: 100px;
}
#first,#second{
    width: 700px;
}